.follow-list-page {
  width: 390px;
  height: 820px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  font-size: 14px;

  /* 화면 넘치면 숨김 */
  overflow: hidden;
}

/* header 시작 */
.follow-list-page-header {
  border-bottom: 1px solid #dbdbdb;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
}
.search-bar .btn-goback {
  width: 22px;
  height: 22px;
  background-image: url('../../../images/icon-arrow-left.svg');
}
.search-bar strong {
  flex: 1;
  padding: 7px 0 7px 0px;
}
/* header 끝 */

/* follow-list-page-content 시작 */
.follow-list-page-content {
  padding: 24px 16px;

  /* 화면 넘치면 스크롤 */
  overflow: scroll;
  height: 100%;
}

.follow-list-page-content ol .search-result {
  display: flex;
  /* 여기서 이미지가 살짝 뜨는 문제 물어보기 */
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.follow-list-page-content ol .search-result .user-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.follow-list-page-content ol li + li {
  margin-top: 16px;
}
.follow-list-page-content .img-profile img {
  width: 42px;
  height: 42px;
  background-color: #dbdbdb;
  border-radius: 50%;
  vertical-align: middle;
}

.follow-list-page-content .user-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  vertical-align: baseline;
}
.follow-list-page-content .user-info .user-comment {
  font-size: 12px;
  color: #767676;
}
.follow-list-page-content .search-result button {
  font-size: 12px;
  width: 56px;
  height: 28px;
  line-height: 28px;
  border-radius: 26px;
}

.follow-list-page-content .btn-follower-active {
  color: #fff;
  background-color: #515fec;
}
.follow-list-page-content .btn-follower-inactive {
  color: #767676;
  border: 1px solid #dbdbdb;
}
/* follow-list-page-content 끝 */
